* {
	margin: 0;
	padding: 0;
	font-family: Cormorant Garamond;
}

a{
	color: black;
    text-decoration: none;
}
html {
	scroll-behavior: smooth;
	height: 100%;
}
  
body {
	margin: 0;
	/* Растягиваем body по высоте html */
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
  
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
header{
	background-color: #ffffffb6;
}
/**************************************************/
.containerr{
	width: 1900px;
	border: 0px dashed red;
	margin: 0 auto;
}
.menu{
	display: flex;
}
.menu li a {
	text-decoration: none;
	font-size: 18px;
}
/**************************************************/
.menu a:after {
	display: block; 
	content: ""; 
	height: 1px; 
	width: 0%; 
	background-color: #000000;
	transition: width 0.2s ease-in-out; 
}
.menu a:hover:after {
	width: 100%;

}
/**************************************************/
.tel{
	font-size: 18px;
}
.nav .tel{
	margin-left: 30px;
	width: 200px;
}
.nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 70px;
}
.nav a{
	width: 250px;
}
.nav li{
	margin-right: 171px;
}
/**************************************************/
.offer{
	margin-left: 180px;
	margin-right: 90px;
	margin-top: 60px;
}
.back{
	display: flex;
    padding-left: 55px;
    padding-bottom: 50px;
}
.back img{
	width: 25px;
    padding-right: 20px;
}
.back a {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.type_l{
	width: 700px;
	display: flex;
	flex-direction: column;
	font-size: 25px;
}
.type_l a{
	margin: 20px;
}
.type_l a:after {
	display: block; 
	content: ""; 
	height: 1px; 
	width: 0%; 
	background-color: #000000;
	transition: width 0.2s ease-in-out; 
}
.type_l a:hover:after {
	width: 100%;

}
.type_r{
	width: 700px;
	display: flex;
	flex-direction: column;
	font-size: 25px;
}
.type_r a{
	margin: 20px;
}
.type_r a:after {
	display: block; 
	content: ""; 
	height: 1px; 
	width: 0%; 
	background-color: #000000;
	transition: width 0.2s ease-in-out; 
}
.type_r a:hover:after {
	width: 100%;

}
.ico{
	display: flex;
    width: 700px;
    height: 50px;
    align-items: center;
	margin-bottom: 50px;
}
/**************************************************/
table{
	width: 100%;
	height: 200px;
}
td {
	border: 2px solid black;
	padding: 20px;
	padding-left: 30px;
	font-size: 30px;
	text-align: center;
}
.mani{
	border: 2px solid black;
	background-color: #F3F9FF;
	width: 50%;
	text-align: center;
}
/**************************************************/
.cont{
	margin-top: 200px;
	margin-right: 500px;
	margin-bottom: 117px;
	display: flex;
	justify-content: center;
}
.dok{
	font-size: 20px;
}
.dok a{
	color: rgb(69, 69, 241);
}
/**************************************************/
.menu_bottom{
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
/**************************************************/
.footer{
	padding-left: 110px;
	background-color: #f5f5f55d;
}
.sotred{
	margin-top: 80px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}
.sot{
	margin-right: 30px;
}
.container{
	display: flex;
    justify-content: center;
	margin-bottom: 20px;
}
.container p{
	margin-left: -40px;
}

/**************************************************/
.open_menu{
	display:  flex;
	display: none;
	background: none;
	border: none;
}
.header .menu_show{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
}
.header .menu_show li {
	margin: 2px;
}
/**************************************************/
@media all and (max-width: 1800px){
	.containerr{
		width: 1500px;
	}
}
/**************************************************/
@media all and (max-width: 1500px){
	.containerr {
		width: 1200px;
	}
	.nav a {
		width: 178px;
	}
	.nav li {
		margin-right: 47px;
	}
	.nav .tel{
		margin: 0;
		width: 117px;
	}
	.ico{
		width: 500px;
	}
	.footer{
		padding-left: 14px;
	}
}
/**************************************************/
@media all and (max-width: 1200px){
	.containerr {
		width: 700px;
	}
	.logoo{
		width: 124px;
	}
	.menu_bottom a{
		font-size: 14px;
	}
	.menu_bottom .tel{
		font-size: 14px;
	}
	.nav .tel{
		margin-left: 30px;
		width: 140px;
	}
	.nav li{
		margin: 0;
	}
	.menu{
		width: 522px;
		justify-content: space-between;
	}
	.nav a{
		width: 106px;
	}
	.footer{
		padding-left: 100px;
	}
	.offer{
		margin-left: 10px;
		margin-right: 10px;
	}
	.ico {
		width: 400px;
	}
	.ico img{
		width: 40px;
	}
	.sotred {
		margin-left: 8px;
	}
	.cont{
		margin-right: 260px;
	}
	.container p {
		margin-left: -18px;
	}
	.dok {
		font-size: 14px;
	}
}
/**************************************************/
@media all and (max-width: 900px){
	.containerr {
		width: 500px;
	}
	.menu{
		display: none;
	}
	.open_menu{
		display: block;
	}
	.nav a{
		width: 18px;
	}
	.nav{
		justify-content: space-between;
	}
	.nav .tel{
		width: 117px;
		margin-left: 318px;
	}
	.header .menu_show{
		width: 228px;
		left: 27%;
		background-color: #ceddec4a;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
	}
	.ico {
		width: 426px;
	}
	td{
		font-size: 12px;
	}
	.menu li a {
		text-decoration: none;
		font-size: 14px;
	}
	.menu_bottom a {
		font-size: 10px;
	}
	.logoo {
		width: 100px;
	}
	.menu_bottom .tel {
		font-size: 10px;
	}
	.sotred {
		margin-left: 67px;
	}
	.open_menu{
		display: block;
	}
	.footer{
		padding-left: 0;
	}
	.sot{
		width: 33px;
	}
	.container p {
		font-size: 12px;
		margin-left: 34px;
	}
}
/**************************************************/
@media all and (max-width: 700px){
	.container p {
		font-size: 11px;
		margin-left: 47px;
	}
	.dok {
		font-size: 9px;
	}
	.containerr {
		width: 500px;
	}
	.nav .tel {
		width: 74px;
		margin-left: 135px;
	}
	.tel {
		font-size: 11px;
	}
	.logoo {
		width: 100px;
	}
	.menu{
		display: none;
	}
	.open_menu{
		display: block;
	}
	.nav a{
		width: 18px;
	}
	.nav{
		width: 489px;
		justify-content: space-between;
	}
	.nav .tel{
		margin-left: 320px;
	}
	.header .menu_show{
		width: 228px;
		left: 27%;
		background-color: #ceddec4a;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
	}
	.menu li a {
		text-decoration: none;
		font-size: 14px;
	}
	.logoo {
		width: 100px;
	}
}
